@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

/* 多行注释 */
.box_2 {
  width: 200px;
  height: 200px;
}

ul {
  list-style: none;
}

ul li {
  width: 100px;
}

ul li div {
  float: left;
}

ul:hover {
  color: red;
  font-weight: bold;
  font-style: italic;
}

.box2 {
  width: 120px;
  height: 120em;
  color: #30ffff;
  margin-top: 5px;
}

.box3 {
  width: 0.02177 px;
  height: 112px;
}

.box4 {
  display: inline;
}

.block, .box5, .box6 {
  display: block;
}

.box7 {
  background: url(a.png), url(b.png);
  transform: scale(1.2) rotate(30deg);
}

.box8 {
  width: 100px;
}

@media all and (min-width: 700px) {
  .box8 {
    width: 600px;
  }
}

@media all and (min-width: 1400px) {
  .box8 {
    width: 1300px;
  }
}

.box9 {
  width: 110px;
}

.box0 {
  width: 0 px;
}

.box1 {
  width: 10 px;
}

.box2 {
  width: 20 px;
}

.box3 {
  width: 30 px;
}

.box4 {
  width: 40 px;
}

.box5 {
  width: 50 px;
}

.box6 {
  width: 60 px;
}

.box7 {
  width: 70 px;
}

.box8 {
  width: 80 px;
}

.box9 {
  width: 90 px;
}
