body{
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: Arial;
}
a {
    text-decoration: none;
}
h2 {
    background: url(../image/title_bg.png) no-repeat 0 7px;
    text-align: center;
    width: 345px;
    font-size: 20px;
    font-weight: 100;
}
ul {
    padding: 0px;
}
.head_menu li {
    font-size: 14px;
    float: left;
    margin-left: 58px;
    list-style: none;
    line-height: 49px;

}
.head_menu li a {
    color: #646464;
}
.l {
    float: left;
}
.r {
    float: right;
}

#header {
    height: 81px;
}
.container {
    width:1080px;
    margin: 0px auto;
}
.container .header_logo {
    height: 81px;
    padding-top: 18px;
    box-sizing: border-box;
} 
#banner {
    height: 469px;
    text-align: center;
}
.container-fluid {
    width: 97.9%;
    position: relative;
}
.banner_list {
    width: 97.9%;
    height: 469px;
    margin: 0px;
}
.banner_list li{
    list-style: none;
    width: 97.9%;
    height: 469px;
    background: center 0 no-repeat;
    background-image: url(../image/banner.png);
    z-index: 1;
    position: absolute;
}
.banner_list li.active {
    z-index: 10;
    background: center 0 no-repeat;
    background-image: url(../image/banner.png);
    position: absolute;
}
.banner_list li.active a {
    width: 100%;
    height: 469px;
    display: block;
}
.banner_btn{
    position: absolute;
    bottom: 0px;
    z-index: 20;
    left: 45.5%;
    text-align: center;
}
.banner_btn li {
    list-style: none;
    float: left;
    margin-left: 14px;
    border: 2px solid white;
    border-radius: 12px;
    width: 8px;
    height: 8px;
    cursor: pointer;
}
.banner_btn .active {
    background: white;
}
#service{
    width: 1080px;
    max-height: 407px;
}
.container-service{
    position: relative;
    margin: 0px auto;
}
.container-service .serve-title {
    margin: 0px auto;
    margin-top: 60px;
    color: #363636;
}
.p-title {
    font-size: 14px;
    color: #9f9f9F;
    text-align: center;
    margin: 2px;
}
.service_list {
    margin-top: 34px;
    text-align: center;
    padding: 0px;
}
.service_list::after {
    content: '';
    display: block;
    clear: both;
}
.service_list li {
    float: left;
    list-style: none;
    width: 250px;
    margin: 10px 10px 10px 10px;
}
.service_list li .title {
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 0px;
    font-size: 18px;
}
.service_list li .content {
    font-size: 14px;
    color: #6D6D6D;
    line-height: 22px;
    margin-top: 5px;
}
.service_list li div {
    width: 102px;
    height: 102px;
    position: relative;
    margin: 0px auto;
}
.service_list li:nth-of-type(1) div {
    background: url(../image/web1.png);
}
.service_list li:nth-of-type(2) div {
    background: url(../image/mail1.png);
}
.service_list li:nth-of-type(3) div {
    background: url(../image/graphic1.png);
}
.service_list li:nth-of-type(4) div {
    background: url(../image/e-bussiness1.png);
}
.case {
    width: 100%;
    max-height: 460px;
    background-color: #F8F8F8;
    padding-top: 60px;
    margin-bottom: 70px;
}
.case-title {
    margin: 0px auto 0px;
    color: #66C5B4;
}
.case-list {
    width: 1080px;
    margin: 0px auto;
    text-align: center;
}
.case-list::after {
    content: '';
    display: block;
    clear: both;
}
.case-list li {
    list-style: none;
    display: block;
    float: left;
    width: 340px;
    height: 181px;
    margin-left: 18px;
    margin-top: 30px;
    background-color: #66C5B4;
}
.case-list li:nth-of-type(1) {
    background: url(../image/20141121095216750.png) no-repeat;
}
.case-list li:nth-of-type(2) {
    background: url(../image/20141121095528549.png) no-repeat;
}
.case-list li:nth-of-type(3) {
    background: url(../image/20141121105856226.png) no-repeat;
}
.case-btn {
    width: 176px;
    height: 37px;
    background: #66C5B4;
    margin: 20px auto;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    margin-top: 36px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
}
.news {
    width: 100%;
    max-height: 450px;
    text-align: center;
    box-sizing: border-box;
}
.news .news-title {
    margin: 0px auto;
    margin-top: 60px;
}
.news .content {
    width: 1080px;
    max-height: 450px;
    overflow: hidden;
    margin: 0px auto;
    margin-top: 48px;
}
.news .content img {
    float: left;
}
.news-list {
    width: 846px;
    margin-left: 234px;
    margin-top: 0px;
}
.news-list::after{
    display: block;
    clear: both;
    content: '';
}
.news-list li {
    width: 50%;
    float: left;
    list-style: none;
}
.news-list li::after{
    display: block;
    clear: both;
    content: '';
}
.news-detail-left {
    float: left;
    padding-left: 20px;
    border-right: 1px solid gray;
}
.news-detail-left i{
    margin-right: 20px;
    font-size: 39px;
    font-weight: 900;
    color: #66C5B4;
    display: block;
}
.news-detail-left p {
    margin: 0px;
    color: #999999;
    font-size: 20px;
    line-height: 30px;
}
.news-detail-right {
    float: left;
    margin-left: 20px;
}
.news-detail-right h4 {
    cursor: pointer;
    font-size: 14px;
    margin: 0px;
    text-align: left;
}
.news-detail-right p {
    font-size: 14px;
    text-align: left;
    width: 300px;
}
.footer {
    width: 100%;
    height: 54px;
    background: #66c5b4;
}
.foot .container {
    width: 1080px;
    height: 54px;
}
.leftFooter {
    float: left;
    line-height: 54px;
    color: white;
    font-size: 14px;
}
.rightFooter {
    float: right;
    line-height: 54px;
}
.rightFooter a {
    color: white;
    font-size: 14px;
}