* {
    margin: 0px;
    padding: 0px;
    font-family: Arial , '宋体';
    color: white;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.l {
    float: left;
}
.r {
    float: right;
}
.container-fluid {
    width: 100%;
    box-sizing: border-box;
}
.container-fluid::after{
    content: '';
    display: block;
    clear: both;
}